.ax_default {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_2 {
}
._形状 {
}
._图片 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.placeholder {
}
.button {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.primary_button {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
._一级标题 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._段落 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.line {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.droplist {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.checkbox {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.radio_button {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table_cell {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
}
._线段 {
}
.menu_item {
}
._连线 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
}
.paragraph {
  text-align:left;
}
.form_hint {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.primary_button1 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.form_disabled {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
}
.flow_shape {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
}
._形状1 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
._文本段落 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
._图片_ {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
}
.paragraph1 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.heading_1 {
  font-family:"苹方-简 中粗体", "苹方-简 常规体", "苹方-简", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.shape {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.image {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
.box_1 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.label {
  font-size:14px;
  text-align:left;
}
._形状2 {
  font-family:"PingFangSC-Semibold", "苹方-简 Semibold", "苹方-简", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FF0066;
}
.heading_2 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.box_3 {
}
.button1 {
}
.line1 {
}
.box_11 {
}
.iconfont {
  font-family:"iconfont", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.paragraph2 {
  text-align:left;
}
.heading_21 {
  font-family:"PingFangSC-Semibold", "苹方-简 Semibold", "苹方-简", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.primary_button2 {
  color:#FFFFFF;
}
._默认样式 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
}
._文本链接 {
  color:#409EFF;
}
._链接悬停 {
  color:#66B1FF;
}
._链接按下 {
}
.text_field {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
._形状3 {
  font-family:"PingFangSC-Regular", "苹方-简", sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
.image1 {
}
.icon {
}
._段落1 {
  text-align:left;
}
._形状4 {
}
._图片1 {
  color:#000000;
}
.sticky_1 {
  text-align:left;
}
.ellipse {
}
.line2 {
}
.radio_button1 {
  text-align:left;
}
._文本段落1 {
  text-align:left;
}
.heading_11 {
  font-family:"PingFangSC-Semibold", "苹方-简 Semibold", "苹方-简", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.image2 {
  color:#000000;
}
.shape1 {
}
textarea, select, input, button, div, svg { outline: none; }
